{% extends "base.html" %}

{% block content %}
<div class="container ">
    <h1 class="text-center pt-3">UPdate Profile</h1>
    <div class="row">
        <div class="col-md-6 offset-3 shadow p-4 mb-5 bg-white rounded">
            <form method="POST" action={% url 'update_user' %}>
               {% csrf_token %}
                
                {{user_form.as_p}}
                
                <button type="submit" class="btn btn-primary">Update Profile</button>
              </form>

              <a href="{% url "update_password" %}" class="btn btn-success my-2">Update Password</a>

        </div>
    
    </div>
</div>
{% endblock  %}